body{
    display: grid;
    grid-template-areas: "nav"
    "banner"
    "header"
    "section"
    "footer" ;
    grid-template-columns: 99,7%;
    grid-template-rows: 2vw 45vw 35vw 35vw 5vw;
    margin: 0;
}
nav{
    background-color: yellow;
    display: flex;
    grid: nav;
    height: 10px;
}
.baner-ini{
    background-image: url(../imagens/hand.png);
}
header{
    align-items: center;
    background-color: lightpink;
    grid: header;
    padding: 200px;

    justify-content: space-around;
}
.co-hed{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.text1{
    display: flex;
    justify-content: space-around;
}
.text2{
    display: flex;
    justify-content: space-around;
}
.text3{
    display: flex;
    justify-content: space-around;
}
section{
    background-color: lightgray;
    grid: section;
    justify-content: space-around;
    align-items: center;
    display: grid;
}   
.roda-sec{
    background-color: lightpink;
}
.pes-fot{
    height: 49px;
    width: 43px;
    display: flex;
    align-items: center;
}
.pes-fot2{

}
footer{
    background-color: blue;
    justify-content: space-around;
    align-items: center;
    display: flex;
}